*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
  
}

.main{
    max-width: 1400px;
    width: 90%;
    margin: 20px auto;

}


.kartya{
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}


table, tr, td{
    border: 1px gainsboro solid;
    text-align: center;
    padding: 25px;
    
}

table button{
    border-radius: 4px;
    padding: 4px;
}

#keres{
    margin: 10px;
}

#kosar{
    margin-left: 8px;
    margin-bottom: 4px;
    margin-right: 10px;
}

#cart{
    margin: 20px;
    padding: 5px;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 20px;
    margin-left: auto;

}

.Cart-Container{
    width: 40%;
    height: 35%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 25px 40px #1687d933;
   }


   .Header{
    margin: 5px;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   }
   .Heading{
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 500;
    color: #afb0b2;
   }
   .Action{
    font-size: 14px;
    font-family: ‘Open Sans’;
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
   }

   #cart_parent{
    display: flex;
    justify-content: right;
   }

   #cart_parent2{
    display: flex;
    justify-content: right;
   }

form{
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 30px;
    margin: 20px;
    background-color: #f8f9fa;
}



footer{
    text-align: center;
}

nav{
    margin: 20px;
}

header h1{
    margin: 20px;
}


.kartyak{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}

.card-body{
    height: 300px;
    width: 250px;

}


div .header-image {
    background-image: url(“./pics/doggy.jpg”);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    }


header{
    background-image: url("./pics/14710.jpg");
    height: 100%;
    /* Center and scale the image nicely */
     background-position: center;
    background-repeat: no-repeat;
     background-size: cover;
    padding: 20px; 
    text-align: center;
    }

    header h1{
        font-size: 45px;
    }

    form{
        margin: 30px;
    }

    main form .btn-primary{
        font-size: 22px;
       
    }

    footer{
        font-size: 20px; 
        padding: 20px;
        margin: 20px;
        background-color: #f8f9fa;
    }


    .kartya a{
        font-size: 20px;  
    } 

    table{
        margin: 30px;
        font-size: 18px;
        padding: 15px;
        max-width: 96%;
      

    }

    .main_admin{
        margin: 30px;
        margin-left: 200px;
        margin-right: 200px;
       

    }






   @media screen and (max-width: 1000px){
    nav{
        font-size: 18px;
    }
    .kartyak{
        font-size: 20px;     
    }

    .main_admin{
        margin: 20px;
        margin-left: 100px;
        margin-right: 100px;

    }

    .card-body{
        height: 290px;
        width: 230px;
    
    }

   }


   @media screen and (max-width: 830px){

    main article section div table{
        max-width: 90%;
        font-size: 15px;
    }

    .main_admin{
        margin: 20px;
        margin-left: 80px;
        margin-right: 80px;

    }

    .card-body{
        height: 280px;
        width: 230px;
        font-size: 19px;
        padding: 5px;
    
    }

   }
   



   @media screen and (max-width: 576px){
    nav{
        font-size: 18px;
    }



    main article section div table{
        max-width: 60%;
        font-size: 20px;
     
    }

    .main_admin{
        margin: 20px;
        margin-left: 40px;
        margin-right: 40px;
        display: grid;
        grid-template-rows: auto 1fr 1fr;
        grid-template-columns: auto;
        grid-template-areas: 
        "n"
        "f"
        "a"
       }

       nav {grid-area: "n"; }
       form {grid-area: "f"; }
       article {grid-area: "a"; }

       
    .card-body{
        height: 260px;
        width: 220px;
        font-size: 15px;
    
    }

   }


   
   


   @media screen and (max-width: 550px){


    main article section div table{
        max-width: 35%;
        font-size: 18px;
    }


    .main_admin{
        margin: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }


        

   }


   @media screen and (max-width: 450px){


    main article section div table{
        max-width: 25%;
        font-size: 13px;
    }


   }